.root{
    -fx-padding: 20 ;
    cell-color: white ;
    cell-border-color: black ;
}
.grid{
    /* 1 pixel border around the top and right of the grid: */
    -fx-background-color: cell-border-color, cell-color ;
    -fx-background-insets: 0, 1 1 0 0 ;
    -fx-padding: 1 ;
}
.cell{
    /* 1 pixel border around the left and bottom of each cell: */
    -fx-background-color: cell-border-color, cell-color ;
    -fx-background-insets: 0, 0 0 1 1 ;
}
.welcomeLabel{
    -fx-text-alignment: JUSTIFY;
    -fx-alignment: CENTER;
    -fx-font-size: 30;
    -fx-background-color: red;
}
.LeftAnchorPane{
    -fx-background-color: grey;
}
.topAnchorPane{
}
.player1AnchorPane{
    /*-fx-background-color: blue;*/
}
.player2AnchorPane{
    /*-fx-background-color: orange;*/
}
.player3AnchorPane{
    /*-fx-background-color: black;*/
}
.player4AnchorPane{
    /*-fx-background-color: red;*/
}
.vbox{
    /*-fx-background-color: yellow;*/
}