#welcomeStatment{
    -fx-text-alignment: justify ;
    -fx-alignment: center;
    -fx-background-color: red;
    -fx-font-size: 48;
}
.root{
    -fx-background-color: grey;
}
#promptLabel{
    -fx-font-size: 20;
    -fx-font-color: black;
    -fx-background-color: white;
}
#player1Label{
    -fx-font-size: 15;
    -fx-font-color: black;
    -fx-font-weight: bold;
}
#player2Label{
    -fx-font-size: 15;
    -fx-font-color: black;
    -fx-font-weight: bold;
}
#player3Label{
    -fx-font-size: 15;
    -fx-font-color: black;
    -fx-font-weight: bold;
}
#player4Label{
    -fx-font-size: 15;
    -fx-font-color: black;
    -fx-font-weight: bold;
}